*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 30px 50px;
}

.black{
  color: #000;
}

.absolute{
  position: absolute;
}

img{
  width: 30px;
  vertical-align: middle;
}

nav{
  justify-content: space-between;
}

ul{
  list-style: none;
}

.flex{
  display: flex;
}

.disp-none{
  display: none;
}

.active{
  display: block;
}

nav ul li{
  display: inline-block;
  padding-right: 50px;
  font-size: 22px;
  color: #cacacb;
  cursor: pointer;
  transition: all 0.5s;
}

nav > ul > li:hover{
  color:#000;
}





.button{
  border-radius: 10px;
  padding: 10px 25px;
}

 .button.uno{
  background-color: #cacacb;
  margin-right: 15px;
}

.button.due{
  background-color: #000;
  color: #fff;
  transition: 0.5s
}

.button.due:hover{
  background-color: #3e4043;
}

.dropdown-link.features{
  width: 913px;
  right: 50px;
  top: 100px;
  padding: 30px;
}

.dropdown-link.features div{
  width: calc(100% / 4);
}

.dropdown-link.features div img{
  background-color: #cacacb;
  border-radius: 50%;
  width: 38px;
  padding: 7px;
  vertical-align: middle;
}

.dropdown-link.features div span {
font-size: 20px;
}

.dropdown-link p{
  margin-top: 20px;
}

.dropdown-link p:hover{
  color: #000;
  transition: all 0.5s;
}



.dropdown-link{
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
              rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}
